.card-container {
  padding: 20px 10px;
  text-align: center;
  max-width: 550px;
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-image {
  width: 120px;
  height: auto;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card-issuer {
  font-size: 12px;
  font-style: italic;
  margin: 0 0 10px 0;
}

.provider-box {
  /* background-color: #ffffff; */
  border-radius: 4px;
  padding: 10px 0;
  width: 80%;
  color: #8a8d91;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
